[Desktop Entry]
Type=Application
Name=Qt Book Reader
Exec=qbr %f
Icon=qbr
Categories=Qt;Office;Viewer;Literature
GenericName=Simple book reader
GenericName[ru]=Простая читалка книг
MimeType=application/x-fictionbook+xml;application/vnd.comicbook+zip

